@charset "utf-8";


/* 공통클래스 */

* {
  margin: 0;
  padding: 0;

}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: mediumspringgreen;
}

li {
  list-style: none;
}

.container {
  width: 1000px;

}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.ofh {
  overflow: hidden;
}

.red {
  background-color: red;
}


.h100 {
  height: 100px;
}

.h200 {
  height: 200px;
}

.h350 {
  height: 350px;
}

.w33 {
  width: 33.333%;
}

.w200 {
  width: 200px;
}

.w800 {
  width: 800px;
}


/* 많이 쓰임 */

.text-center {
  text-align: center;
}

.jcc {
  justify-content: center;
}

.jcb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}


/* 레이아웃 */

header {
  padding: 2rem 0;
  box-sizing: border-box;
}


#gnb {
  text-indent: 3rem;
  /* 들여쓰기  padding 영향을 가지 않는다. */
}



#gnb>li>a {
  font-size: 2em;
  font-weight: bold;
  line-height: 2;
}

/* 소메뉴 */

#gnb ul {
  max-height: 0;
  overflow: hidden;
  transition: .5s;
}


#gnb li:hover ul {
  max-height: 300px;
}

/* 활성화  중요! */
#gnb>li:hover>a {
  color: red;
}


.content {}



/* 팝업 */

#popup {

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  z-index: 10000000;

}