* {
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "맑은고딕", sans-serif;
  color: #333333;
}

/*공통*/
.container {
  width: 1200px;
}

.m-auto {
  margin: 0 auto;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.h100 {
  height: 100px;
}

.h200 {
  height: 200px;
}

.h300 {
  height: 300px;
}

.ofh {
  overflow: hidden;
}


.w33 {
  width: 33.333%;
}

/* 상단 */

#hd {
  background-color: yellow;
}

#gnb>li>a {
  font-size: 1.8rem;
  padding: 0 2.5rem;
}

#gnb ul {
  background-color: black;
  top: 100%;
  left: 0;
  min-width: 150px;
  width: 100%;

  /* 롤오버 */
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}


/* padding 대신 가상선택자 */

#gnb ul::after,
#gnb ul::before {
  content: "";
  display: block;
  height: 1rem;
}

#gnb ul a {
  color: white;
  line-height: 2.2;
  font-size: 1.2rem;
  text-indent: 3rem;
  display: block;
  /* text-indent 쓸때 block을 줘야함 */
}


/* 롤오버 */

#gnb li:hover ul {
  max-height: 350px;

}



/* abcd 동일 */

/* 대메뉴 활성화 */
#gnb li:hover>a {
  /* background-color: black; */
  color: white;
}

/* 소메뉴 활성화 */

#gnb ul li:hover a {
  color: yellow;
}