* {
    margin: 0;
    padding: 0;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.bg-check {
    background-color: gray;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.d-flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.ofh {
    overflow: hidden;
}

.h-0 {
    height: 0;
}

.h100 {
    height: 100px;
}

.h300 {
    height: 300px;
}

.h200 {
    height: 200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*layout*/

.d1a {
    padding: 2rem 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.d2ul {
    background-color: transparent;
    border: 1px solid transparent;
    left: 0;
    right: 0;
    top: 100%;
    text-indent: 2rem;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

#gnb .d1li:hover .d2ul {
    max-height: 180px;
    border-color: #222;
    background-color: white;

}

#threeBanner>* {
    width: 33.33%;
}